* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

.cardHighlight {

	min-height: 100%;
}

body {
	background-color: #f7eee8;
	background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
	min-height: 100vh;
}

.home-image {
	padding-top: 70px;
}

.cards{
	padding-bottom: 50px;
}

.prof-container {
	padding-top: 50px;
}

.col-prof {
	margin-left: 300px;
}

.home-card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	background-color: #3a5a40;
	/**/
}

footer {
	background-color: #567568;
	color: white;
	max-height: 50px;
}

.about {
	border-color: transparent;
}

/*.jumbo {
	min-height: 90vh;
	background-color: #daa588;
	margin-left: 0;
	margin-right: 0;
}*/

/*.jumbo-container {
	opacity: 0.4;
}*/

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
	padding: 150px;

	font-size: 100px;
	font-family: 'Pacifico', sans-serif
}

.navbar-brand {
	font-family: 'Pacifico', sans-serif
}